body {
    background-color: rgba(0, 0, 0, 0.66);
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: rgb(129, 158, 255);
    font-weight: bold;
}

#artist-search {
    width: 100%;
    background: transparent;
    border: 0 none;
    height: 50px;
    font-size: 20pt;
    color: rgb(255, 245, 227);
    border-bottom: 1px solid rgba(64,13,84,.6);
    border-bottom-color: rgb(255, 229, 124);
}
::placeholder {
    color: rgba(255, 255, 255, 0.529);
}

.artist-name-search {
    color: rgb(255, 184, 53);
    font-size: 16pt;
    margin: 0;
}

#suggestions {
    width: 100%;
    background-color: rgba(0, 123, 255, 0.564);
    padding-left: 0;
    list-style-type: none;
}

.artist-list-search {
    padding: 5px;
    display: flex;
}

.artist-list-search:hover {
    cursor: pointer;
    background-color: darkblue;
}

.artist-image-search {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

#selected-artists {
    padding-left: 0;
}

.selected {
    display: flex;
}

.li-selected-artist {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 230px;
    min-width: 200px;
    background-color: rgb(25, 174, 255);
    border-radius: 5px;
    margin-right: 10px;
}

.img-selected-artist {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.rmv-artist {
    margin-right: 10px;
}

#recommendations {
    padding-left: 0;
}

.li-track-recommended {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(171, 207, 220, 0.6);
}

.img-track-recommended {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.name-track-recommended {
    color: rgb(156, 194, 250);
}

.name-artist-recommended {
   color: rgb(156, 194, 250);
}

.duration-track-recommended {
    color: rgb(156, 194, 250);
}
