body {
    background-color: black;
}

#artist-search {
    width: 300px;
    background: transparent;
    border: 0 none;
    height: 50px;
    font-size: 30pt;
    color: wheat;
}
::placeholder {
    color: white;
    /* font-size: 30pt; */
    font-family: 'Roboto', sans-serif;
}

p {
    color: wheat;
    font-family: 'Roboto', sans-serif;
}

#suggestions {
    width: 310px;
    background-color: blue;
    padding-left: 0;
    list-style-type: none;
}

.artist-list-search {
    padding: 10px;
    display: flex;
}

.artist-list-search:hover {
    cursor: pointer;
    background-color: darkblue;
}

.artist-image-search {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

#selected-artists {
    padding-left: 0;

}

.selected {
    display: flex;
}

.li-selected-artist {
    display: flex;
    align-items: center;
    max-width: 230px;
    min-width: 200px;
    background-color: aquamarine;
    border-radius: 5px;
    margin-right: 10px;
}

.img-selected-artist {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

#recommendations {
    padding-left: 0;
}

.li-track-recommended {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img-track-recommended {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}